body {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  /* align-items: center; */
  background-color: #ebdff7;
  margin: 20px;
}

h1 {
  text-align: center;
}

h2 {
    text-decoration: underline;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.image{
    width: 70%;
}
